abrt
astro
autostart
baloofilerc
Code
Code - OSS
connections.db
Cursor
dconf
dolphinrc
enchant
epiphany
evolution
freerdp
gh
gnome-initial-setup-done
gnome-session
GNOME-xdg-terminals.list
goa-1.0
ibus
kde.org
libreoffice
mimeapps.list
monitors.xml
monitors.xml~
neofetch
Nextcloud
nwg-panel
OpenTabletDriver
PBE
pulse
QtProject.conf
rygel.conf
session
systemd
Thunar
totem
unity3d
user-dirs.dirs
user-dirs.locale
wireshark
wofi
xdg-terminals.list
xfce4
