/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}

/* Styles */

/* Colors (gruvbox) */
@define-color black	#282828;
@define-color red	#c6846d;
@define-color green	#5c724a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color brred	#c6846d;
@define-color brgreen	#b8bb26;
@define-color bryellow	#ffc566;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#e4d5b7;
@define-color bg2	#504945;

/*NVTPALLATE*/
@define-color drkorange rgba(193, 85, 23, 0.7);
@define-color drkblu rgba(9, 72, 133, .7);
@define-color ltblu rgba(67, 133, 167, .3);
@define-color drkred rgba(145, 22, 27, .3);
@define-color ltorange rgba(231, 112, 30, .3);
@define-color ltorangeborder rgba(231, 112, 30, 1);
@define-color drkbluborder rgba(9, 72, 133, 1);



@define-color warning 	@bryellow;
@define-color critical	@red;
@define-color mode	@black;
@define-color unfocused	@bg2;
@define-color focused	@braqua;
@define-color inactive	@purple;
@define-color sound	@drkorange;
@define-color network	@drkblu;
@define-color memory	@drkorange;
@define-color cpu	@drkblu;
@define-color temp	@drkorange;
@define-color layout	@bryellow;
@define-color battery	@drkorange;
@define-color date	@drkblu;
@define-color time	@drkorange;
@define-color backlight @drkblu;
@define-color workspacebar @drkblu;
@define-color workspacebuttons @drkorange;


/* Reset all styles */
* {
	border-width: 4px;
	border-radius: 0px 0px 10px 10px;
	min-height: 0;
	margin-left: 5;
	margin-right: 5;
	padding-left: 5;
	padding-right: 5;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: rgba(40, 40, 40, 0.3); /* #282828e0 */
	color: @white;
	font-family: JetBrains Mono, Siji;
	font-size: 10pt;
	/*font-weight: bold;*/
}

/* Each module */
#battery {
	background: @battery;
	border-color: @ltorangeborder;
	border-width: 2px;
	border-style: solid;
}
#clock,
#cpu {
    background: @cpu;
	border-color: @drkbluborder;
	border-width: 2px;
	border-style: solid;
}
#language,
#memory,
#mode,
#network,
#pulseaudio {
    background: @sound;
	border-color: @ltorangeborder;
	border-width: 2px;
	border-style: solid;
}
#temperature {
	padding-right: 5px;
	background: @temperature;
	border-color: @ltorangeborder;
	border-width: 2px;
	border-style: solid;
}
#tray,
#backlight {
    background: @backlight;
	border-color: @drkbluborder;
	border-width: 2px;
	border-style: solid;
}
#idle_inhibitor,
#disk,
#user,
#mpris { 
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,

#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}
#battery.critical.discharging{
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
network.disconnected {
	color: black;
}
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @white;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 5pt;
	padding-right: 5pt;
	/*color: @green; */
	background: rgba(40, 40, 40, 0);
	border: none;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @white;
	background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @drkred;
	background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}
#workspaces button.active {
	color: @ltorangeborder;
	font-weight: bold;
	background-color: @workspacebar;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @black;
	color: @white;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#pulseaudio {
	background: @sound;
	color: @white;
	padding-right: 5px;
}

#network {
	background: @network;
}

#memory  {
	padding-right: 5px;
	background: @drkorange;
	border-color: @ltorangeborder;
	border-width: 2px;
	border-style: solid;
}

#cpu {
	background: @cpu;
	padding-left: 5px;
}

#temperature {
	background: @temp;
	color: @white;
	padding-left: 10px;
}

#language {
	background: @layout;
	color: @black;
}
#battery {
	background: @battery;
	color: @white;
	padding-left: 5px;
}
#tray {
	background: @black;
	border-color: @white;
	border: 2px;
	border-style: solid;
	border-top: none;
	padding-right: 8px;
	padding-left: 8px;
	margin: 0;
}
#tray.active {
	background-color: @battery;
	padding-right: 20px;
	padding-left: 8px;
	margin: 0;
}
#clock.date {
	background: @date;
	border-color: @drkbluborder;
	color: @white;
    	padding-right: 5px;
}

#clock.time {
	background: @time;
    	padding-right: 10px;
	padding-left: 10px;
	border-color: @ltorangeborder
}
